<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_grocery_app_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_grocery_app_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryApp">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllProductsPage"
            android:exported="false"
            android:theme="@style/Theme.GroceryApp"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ScanningProductsPage" />
        <activity android:name=".Chose_bank_page" />
        <activity android:name=".payment_page" />
        <activity
            android:name=".Add_Products"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Digital_Recept"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".getInfos"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Product"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Search_products"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>